* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
/* border: 2px solid black; */
/* width: 100%; */
    height: 100vh;
    background-image: linear-gradient(to top, rgba(26, 54, 65, 0.7), green);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgba(26, 54, 65, 0.7); */
}
#today_date{
    font-size: 40px;
    text-decoration: underline;
    color:rgb(185, 232, 185);
     text-shadow: 1px 2px rgb(119, 35, 35);
     padding-bottom: 30px;
     text-align: end;
     /* border: 2px solid black; */
     width: 800px;
}

.side_wall {
    width: 450px;
    height: 280px;
    /* border-radius: 150px; */
    box-shadow: 10px 10px 15px  rgb(239, 109, 28);
    border: 5px solid rgb(119, 35, 35);
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom, rgb(46, 82, 244), rgb(92, 212, 228));
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.circle {
    color: green;
    text-align: center;
    width: 250px;
    height: 250px;
    border-radius: 120px;
    background-color: rgb(26, 54, 65);
    box-shadow: 0px 10px 15px rgb(239, 109, 28);
    margin: 0 auto;
    padding: 10px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.number {
    font-size: 30px;
    position: absolute;
    transform: rotate(calc(30deg * var(--n)));
    /* to spread numbers in circular path like clock*/
    text-align: center;
    inset: 10px;
    display: inline-block;
}

.number>i {
    transform: rotate(calc(-30deg * var(--n)));
    /* to arrang number shape*/
    display: inline-block;
    /* to get mirror image of inverted number*/
    font-weight: bolder;
    color: rgb(185, 232, 185);
    text-shadow: 1px 2px rgb(183, 146, 51);

}


#dot {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    position: absolute;
    z-index: 4;
    left: 46%;
    top: 45%;
}

#hours_handel {
    width: 8px;
    height: 70px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, rgb(46, 82, 244), rgb(92, 212, 228));
    margin: auto;
    position: absolute;
    left: 50%;
    top: 21%;
    /* transform: rotate(30deg); */
    transform-origin: bottom;
 

}

#minnut_handel {
    width: 4px;
    height: 75px;
    border: 1px solid black;
    background-image: linear-gradient(to bottom, rgb(46, 82, 244), rgb(92, 212, 228));
    margin: auto;
    position: absolute;
    left: 50%;
    top: 20%;
    /* transform: rotate(42deg); */
    transform-origin: bottom;

}

#second_handel {
    width: 2px;
    height: 70px;
    border: 1px solid black;
    background-color: red;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 20%;
    /* rotate: 0; */
    transform: rotate(190deg);
    transform-origin: bottom;

}

@media(min-width:10px) and (max-width:350px) {

    #today_date{
        font-size: 40px;
        text-decoration: underline;
        color:rgb(185, 232, 185);
         text-shadow: 1px 2px rgb(119, 35, 35);
         padding-bottom: 30px;
         text-align: end;
         width: 290px;
    }

    .side_wall {width: 290px;}

    h1{ font-size: 10px;}
}

